@media (max-width: 600px){
    #header-site{
        background: rgba(158, 171, 177, .12) url('../images/bg-header-mobile.png') top no-repeat;
        background-size: 100%;
        height: 250px;
    }
    
    .header-img{
        height: 100%;
        display: flex;
    }

    .header-img img{
        width: 200px;
        height: 200px;
        margin: 25px auto;
    }
    
    #main-site{
        padding: 50px 0;
        display: flex;
        flex-direction: column;

        row-gap: 70px;
    }

    #boxOne, #boxTwo, #boxThree, #boxFour, #boxSix, #boxFooter{
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 50px;

        text-align: center;
    }

    .format-text{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .format-text header{
        font-size: 1.5rem;
    }

    #boxOne .format-button, #boxSix .format-button{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .format-button button{
        width: 100%;
        height: 60px;
        font-size: 1.3rem;
    }


    
/* Box two */
    .format-boxTwo{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    .format-img img{
        width: 100%;
    }

    .boxText{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

/* Box four */
    #boxFour{
        row-gap: 80px;
    }
    .boxFour-img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 50px;
    }

    .boxFour-img .format-img img{
        margin: 0 auto;
        width: 80px;
    }

/* Box five */
    #boxFive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
    }

/* Footer */
#boxFooter{
    padding: 50px 0;
}

.boxFooter-img-link{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.boxFooter-img-link .format-img img{
    width: 70px;
}

.footer-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.social-media{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
}

}

@media only screen and (min-width: 600px){
    #header-site{
        background: rgba(158, 171, 177, .12) url('../images/bg-header-mobile.png') top no-repeat;
        background-size: 100%;
        height: 250px;
    }
    
    .header-img{
        height: 100%;
        display: flex;
    }

    .header-img img{
        width: 200px;
        height: 200px;
        margin: 25px auto;
    }
    
    #main-site{
        padding: 50px 0;
        display: flex;
        flex-direction: column;

        row-gap: 70px;
    }

    #boxOne, #boxTwo, #boxThree, #boxFour, #boxSix, #boxFooter{
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 50px;

        text-align: center;
    }

    .format-text{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .format-text header{
        font-size: 1.5rem;
    }

    #boxOne .format-button, #boxSix .format-button{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .format-button button{
        width: 100%;
        height: 60px;
        font-size: 1.3rem;
    }


    
/* Box two */
    .format-boxTwo, .format-img img{
        width: 100%;
    }

    .format-boxTwo, .boxText{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

/* Box four */
    #boxFour{
        row-gap: 80px;
    }

    .boxFour-img .format-img img{
        margin: 0 auto;
        width: 80px;
    }

/* Box five */
    .boxFour-img, #boxFive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 50px;
    }

/* Footer */
    #boxFooter{
        padding: 50px 0;
    }

    .boxFooter-img-link{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .boxFooter-img-link .format-img img{
        width: 70px;
    }

    .footer-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }

    .social-media{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 150px;
    }
}

@media only screen and (min-width: 700px){

    #main-site{
        padding: 50px 20px;
    }

    #boxOne .format-button, #boxSix .format-button{
        width: 300px;
        row-gap: 10px;
    }

    .format-boxTwo .format-img img{
        width: 400px;
    }

    #boxThree .format-img img{
        width: 500px;
    }
    
}

@media only screen and (min-width: 900px){
    #header-site{
        background: rgba(158, 171, 177, .12) url('../images/bg-header-desktop.png') top no-repeat;
        background-size: 100%;
    }

    .header-img img{
        width: 100px;
        height: 100px;
        margin: 90px auto 0;
    }

    #main-site{
        justify-content: center;
        align-items: center;
    }

    #boxOne, #boxSix{
        width: 650px;
    }

    #boxOne .format-button, #boxSix .format-button{
        width: 500px;
        flex-direction: row;
        justify-content: space-around;
    }

    .format-button button{
        width: 200px;
        height: 60px;
        font-size: 1.1rem;
        border-radius: 30px;
    }

    #boxTwo{
        padding: 0;
        width: 850px;
    }

    #boxTwo .first-text{
        width: 660px;
    }

    .format-boxTwo{
        flex-direction: row;
        width: 850px;
        padding: 10px;
        justify-content: space-around;
    }

    .boxText{
        row-gap: 10px;
    }

    .boxText .format-text{
        width: 250px;
        font-size: 1rem;
    }

    #boxFour{
        width: 850px;
    }

    .boxFour-img{
        width: 850px ;
        flex-direction: initial;
        align-items: initial;
        justify-content: center;
        column-gap: 5px;
        padding: 0;
        margin: 0;
    }

    .boxFour-img .format-img{
        padding: 0;
        margin: 0;
    }

    .boxFour-img .format-img img{
        width: 50px;
    }

    #boxFive {
        flex-direction: initial;
        justify-content: space-between;
        align-items: center;
        width: 850px;
    }

    #boxFive img{
        width: 100px;
    }

    #boxFooter{
        display: flex;
        flex-direction: initial;
        align-items: center;
        justify-content: space-around;
    }

    .boxFooter-img-link {
        display: flex;
        flex-direction: initial;
        align-items: center;
        justify-content: space-around;
        width: 600px;
        height: 100px;
        padding: 20px 0;
    }

    .footer-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: flex-start;
        column-gap: 10px;

        font-size: 1rem;
        width: 400px;
        height: 70px;
    }

    .boxFooter-img-link .format-img img{
        width: 70px;
    }
}

@media only screen and (min-width: 1200px){

    .format-text{
        width: 900px;
        padding: 0 20px;
    }


    #boxOne, #boxSix{
        width: 900px;
    }

    #boxTwo, #boxThree, #boxFour, #boxFive{
        width: 1100px;
    }

    #boxOne .format-button, #boxSix .format-button{
        width: 500px;
        flex-direction: row;
        justify-content: space-between;
    }

    .format-button button{
        width: 220px;
        height: 60px;
        font-size: 1.1rem;
        border-radius: 25px;
    }

    #boxTwo{
        padding: 0;;
    }

    .format-boxTwo {
        width: 100%;
        justify-content: space-around;
    }

    .format-boxTwo .format-img img {
        width: 550px;
    }

    #boxTwo .first-text {
        width: 900px;
    }    

    #boxThree .format-img img {
        width: 600px;
    }

    .boxFour-img {
        width: 1000px;
    }

    #boxFive img {
        width: 150px;
    }

    .boxFooter-img-link {
        width: 700px;
    }

    .footer-link {
        width: 500px;
    }

    .social-media{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 200px;
    }

    .social-media a img{
        width: 40px;
    }
}